@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h2>Example Docker Training</h2>
        <ul>
            <li>pvarga's - Example App</li>
        </ul>
    </div>
</div>
